{
  "LogsDirectory": "C:\\Users\\Public\\CertutilNotify\\Logs",
  "DaysToWarnExpire": 3,
  "DaysToNotifyNew": 2,
  "EmailSubject": "MyServer security certificate status",
  "ToAddressList": "recipient1@address.com,recipient2@address.com",
  "FromAddress": "sender@address.com",
  "SMTP_Username": "sender@address.com",
  "SMTP_Password": "password",
  "SMTP_Host": "smtp.server.com",
  "SMTP_Port": 587
}
